<h1>New uploaded_file</h1>

<% form_for(@uploaded_file, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :inputfile %><br />
    <%= f.file_field :inputfile %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', uploaded_files_path %>